.header {
  background: rgba(255, 255, 255, 0.9);
}

.nav {
  display: flex;
  align-self: stretch;
}

.menu {
  display: flex;
  align-items: center;
  .menu-item {
    align-self: stretch;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    color: #737373;
    font-weight: 400;
    letter-spacing: 0.2em;
    z-index: 1000;
    .dot {
      margin-bottom: 8px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #f1d675;
      transition: all linear 0.3s;
      opacity: 0;
    }
    .text-box {
      text-align: center;
      transition: all linear 0.3s;
      transform: translateY(-5px);
    }
    .sub-text {
      font-size: 10px;
      letter-spacing: 0.05em;
      font-family: 'Open Sans';
    }
    &:hover {
      .dot {
        opacity: 1;
      }
      .text-box {
        transform: translateY(0);
      }
      > ul {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.subMenu {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all linear 0.3s;

  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  .subMenu-item {
    padding: 5px 36px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    &:not(:last-child) {
      border-right: 1px solid #c4c4c4;
    }
    &:hover {
      img:nth-child(1) {
        opacity: 0;
      }
      img:nth-child(2) {
        opacity: 1;
      }
    }
  }
  .imgBox {
    width: 60px;
    height: 60px;
    position: relative;
  }
}

.icon-box {
  display: flex;
  width: 80px;
  justify-content: space-around;
  > * {
    flex-grow: 0;
  }
  img {
    padding: 3px;
  }
}
