// @font-face {
//   font-family: 'Noto Sans TC';
//   src: url(./assets/fonts/NotoSansTC-Bold.otf) format('opentype');
// }

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  border: 0;
  color: inherit;
  font-size: inherit;
}

:global {
  html,
  body {
    margin: 0;
    height: 100vh;
    font-size: 16px;
    font-family: 'Noto Sans TC', 'Open Sans', sans-serif;
    color: rgba(115, 115, 115, 1);
  }
  ul,
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  img {
    width: 100%;
    display: block;
  }
  .txt-yellow {
    color: rgba(241, 214, 117, 1);
  }
  .txt-white {
    color: white;
  }
  .txt-green {
    color: #769763;
  }
  .txt-gray {
    color: 737373;
  }
  .white-back-icon {
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 75%;
    margin: 0 auto;
  }
  .flexCenterY {
    display: flex;
    align-items: center;
  }
  .flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pos-rel {
    position: relative;
  }
  .page-content {
    padding: 140px 0;
  }
  .homepage-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.15em;
  }
  .homepage-subtitle {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
  }
  .homepage-descirbe {
    margin: 16px 0 32px 0;
  }
  .homepage-link {
    display: flex;
    font-weight: bold;
    color: #769763;
    font-family: 'Open Sans';

    img {
      width: auto;
      margin-left: 10px;
      transition: all 0.3s linear;
    }
    &:hover {
      color: #76976393;
      img {
        transform: translateX(16px);
      }
    }
  }
  .subscribe-input {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    padding: 24px;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    .ant-input {
      background-color: transparent;
      color: rgba(255, 255, 255, 1);
      letter-spacing: 0.05em;
    }
    &.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
    &.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):focus,
    &.ant-input-affix-wrapper-focuesd {
      box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5),
        inset 0px 0px 4px rgba(255, 255, 255, 0.5);
      border: 0.5px solid #ffffff;
      border-color: #ffffff;
      .ant-input-suffix {
        color: rgba(255, 255, 255, 1);
      }
    }
    .ant-input-suffix {
      cursor: pointer;
    }
  }
  .areaSelector {
    width: 100%;
    text-align: center;
    &.ant-select-single .ant-select-selector {
      border: 1px solid rgba(115, 115, 115, 1);
      border-radius: 50px;
    }
  }
  .searchPageInput {
    padding: 20px 30px;
    &.ant-input-affix-wrapper > input.ant-input {
      padding-left: 15px;
    }
  }
  .searchCard {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    overflow: hidden;
    a {
      height: 100%;
    }
    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .ant-card-cover {
      height: 70%;
      overflow: hidden;
    }
    .ant-card-body {
      height: 30%;
      padding: 10px 15px;
    }
  }
}
